html {
  color: white;
}

@font-face {
  font-family: 'oswald';
  src: url('fonts/Oswald-Regular.ttf?') format('truetype');
}

body {
  background-image: url("img/bgsaoexchronicle.jpg");
  font-family: oswald;
}

.nomTP {
  color: rgb(63, 170, 208);
  font-size: 150%;
}

a {
  color: darkmagenta;
  font-size: 200%;
  text-decoration: none;
}

h1 {
  color: rgb(64, 219, 253);
  font-size: 400%;
  text-align: center;
}

h4 {
  color: white;
  text-align: right;
}

li {
  color: rebeccapurple;
}
