body {
  background: darkkhaki;
}

header {
  text-align: center;
}

nav {
  background: azure;
  border: 3px solid orange;
  margin-bottom: inherit;
  padding-bottom: 20px;
  text-align: center;
}

footer {
  background: aliceblue;
  border: 3px solid yellow;
  margin-top: inherit;
  padding-bottom: 20px;
  text-align: center;
}

aside {
  background:ghostwhite;
  border: 2px solid blue;
  box-sizing: border-box;
  height: 500px;
  padding: 50px;
  width: 300px;
}

section {
  background: cadetblue;
  border: 2px solid cornflowerblue;
  box-sizing: border-box;
  margin-left: 350px;
  margin-top: -500px;
  height: 500px;
}
